<h1>To Do List</h1>

        Workshop Todo List<br>
        <%@todos.each do |todo|%>
            <li>
                <a href="/todo/show/<%=todo.id%>"><%=todo.description%></a> 
                <span class="pomodoro-estimate"><%=todo.pomodoro_estimate%> pomodoro</span> 
                <input type="checkbox">
            </li><br>
        <% end %>    
     
    <a href="todo/new">Add Todo</a><br>
    
    <div id="my-name">
        Leo
        </div>