<h1>To Do List</h1>

        Workshop Todo List<br>
        <ul>
            <li>
                <a href="/todo/show/3">Make the curriculum</a> 
                <span class="pomodoro-estimate">4 pomodoros</span> 
                <input type="checkbox">
            </li><br>
            <li>
                <a href="/todo/show/2">Buy workshop supplies</a> 
                <span class="pomodoro-estimate">3 pomodoros</span>
                <input type="checkbox">
            </li><br>
            <li>
                <a href="/todo/show/4">Meet with the volunteer trainers</a> 
                <span class="pomodoro-estimate">2 pomodoros</span>
                <input type="checkbox">
            </li><br>
            <li><a href="/todo/show/5">Order food for Saturday and Sunday</a> 
                <span class="pomodoro-estimate">1 pomodoro</span> 
                <input type="checkbox">
            </li><br>
            <li><a href="/todo/show/6">Check pre-work assignments</a> 
                    <span class="pomodoro-estimate">2 pomodoros</span>
                    <input type="checkbox">
                    </li><br>
            <li><a href="/todo/show/7">Send workshop location to all the students</a> 
                    <span class="pomodoro-estimate">1 pomodoro</span>
                    <input type="checkbox">
                    </li><br>
            <li><a href="/todo/show/8">Have a great workshop</a>
                    <span class="pomodoro-estimate">0 pomodoros</span>
                    <input type="checkbox">
            </li><br>
        </ul>
    
    <h2>Add To Do</h2><br>
     Adding <input id="new-todo-description" type="text" placeholder="Add a new todo..."><br>
    Estimate
     <input id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate"><br>

    <input id="add-new-todo-button" type="submit" value="Add todo">
    
    <div id="my-name">
        Leo
        </div>