<h1>New Todo</h1>

<form action="/todo/create">
    <input type="text" name="description" placeholder="New Description">
    <input type="number" name="pomodoro_estimate" placeholder="Pomodoros">
    <input type="submit" value="Add todo">

</form>    
     <a href="/todos">Go back</a>