<h1>Todo # <%=params[:id]%></h1>

   
        <p><%=@todo_description%></p>
        pomodoro estimate:
        <p><%=@todo_pomodoro_estimate%></p>
        <input type="checkbox"><br>
        <a href="/todos">Go Back</a>
        <a href="#">Edit</a>
        <a href="#">Delete</a>   