<h1>Make the Curriculum</h1>
        <p>Make and finish the curriculum in 4 pomodoros</p>
        <p><%=@todo_description%></p>
        
        <input type="checkbox"><br>
        <a href="/todos">Go Back</a>
        <a href="#">Edit</a>
        <a href="#">Delete</a>   