<h1>Todo # <%=@t.id%></h1>

   
        <p><%=@t.description%></p>
        pomodoro estimate:
        <p><%=@t.pomodoro_estimate%></p>
        <input type="checkbox"><br>
        <a href="/todos">Go Back</a>
        <a href="#">Edit</a>
        <a href="/todo/destroy/<%=@t.id%>">Delete</a>   