 <h2>Make the Curriculum</h2>
        <p>You have to complete and understand the curriculum</p>
        <input type="checkbox"><br>
        <a href="/todos">Go Back</a>
        <a href="#">Edit</a>
        <a href="#">Delete</a>   